---
export interface Props {
  fullname: string;
  title: string;
  major: string;
  year: string;
  url?: string;
}
const { fullname, title, major, year, url } = Astro.props;

// just debug, remove if causes an issue
const n = `data-title`;
const sp = { [n]: title };
---

<div {...sp}>
  <div class="leading-tight flex glass flex-col w-full m:w-[45vw] lg:w-[29vw] px-5 xl:px-0 py-5 text-center">
    <h2 class="orbitron tracking-tight text-white text-xl">
      <span>{fullname}</span>
    </h2>
    <span class="capitalize text-lg">
      {
        url ? (
          <a
            href={url}
            target="_blank"
            class="m-2 inline-block rounded-md bg-purple-900 my-2 py-1 px-5 capitalize text-sm hover:bg-purple-100"
          >
            {title}
          </a>
        ) : (
          <span class="inline-block capitalize underline decoration-dotted text-lg">
            {title}
          </span>
        )
      }
    </span>
    <div class="flex flex-row justify-between w-full text-sm capitalize px-16">
      <span>Major: {major}</span>
      <span>Grade: {year}</span>
    </div>
  </div>
  <p class="max-w-xl text-center font-extrabold text-2xl">
    <slot />
  </p>
</div>
