---
export interface Props {
  fullname: string;
  title: string;
  major: string;
  year: string;
  url?: string;
}
const { fullname, title, major, year, url } = Astro.props;

// just debug, remove if causes an issue
const n = `data-title`;
const sp = { [n]: title };
---

<div {...sp}>
  <div class="flex w-full flex-col">
    <h2 class="gradient-text font-extrabold tracking-tight text-3xl">
      <span>{fullname}</span>
    </h2>
    <span class="capitalize text-lg">
      {
        url ? (
          <a
            href={url}
            target="_blank"
            class="inline-block capitalize underline decoration-dotted text-lg"
          >
            {title}
          </a>
        ) : (
          <span class="inline-block capitalize underline decoration-dotted text-lg">{title}</span>
        )
      }
    </span>
    <span class="capitalize text-lg">
      Major: {major}
    </span>
    <span class="capitalize text-lg">
      Grade: {year}
  </div>
  <p class="max-w-xl text-center font-extrabold text-2xl">
    <slot />
  </p>
</div>