---
import "@fontsource/inter/variable.css";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import "~/styles/index.css";
import ContentSection from "~/components/content-section.astro";
import Spacer from "~/components/Spacer.astro";

import thumbnail96 from "~/assets/blog/9-6.jpg";
import thumbnail916 from "~/assets/blog/9-16.jpeg";
import thumbnail917 from "~/assets/blog/9-17.jpg";
import thumbnail923 from "~/assets/blog/9-23.jpg";
import thumbnail929 from "~/assets/blog/9-29.jpg";
import blog1 from "~/assets/blog/blog-1.webp";
import blog2 from "~/assets/blog/blog-2.png";

const { site } = Astro;
const description = "ML@Purdue AIGuide Blog";

---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <meta name="generator" content={generator} /> -->

    <title>ML@Purdue - AIGuide Blog</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="ML@Purdue" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/social.png" />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header fixed />
    <Spacer y={96} />
    <article class="mx-auto mt-20 w-[65vw] max-w-[120ch]">
        <ContentSection id="aiguide-header" title="AI For Beginners Blog">
            <p>Are you fascinated by artificial intelligence, but don't know where to begin learning about it? This new series is designed to introduce AI concepts to new enthusiasts in a friendly, accessible way.
                Through conversations with AI research professors/students and a list of other resources we'll provide an inside look at the different subfields within AI and discuss skills needed to get started. 
                Hopefully, you will become even more interested in AI than you are right now and grow to pursue further research opportunities. </p>


                <p>Interviewer: Brian Song</p>
                <p>If you are interested in helping out please reach out to aiml [at] purdue [dot] edu!</p>
        </ContentSection>
        <Spacer y={48} />
        <ContentSection id="aiguide-blogs" title="Blog Posts">
          <a href="https://medium.com/@sigaipurdue/ml-youtube-channel-tier-list-783e314d81c6">
            <h1 class="font-bold text-3xl text-center">Machine Learning Youtube Channel Tier List</h1>
            <img src={blog1.src}  class="mx-auto w-1/3"/>
          </a>  
          <Spacer y={16} />
          <a href="https://medium.com/@sigaipurdue/ml-tools-platform-stuff-2c86de32e707">
            <h1 class="font-bold text-3xl text-center">Machine Learning Tools and Platforms</h1>
            <img src={blog2.src}  class="mx-auto w-1/3"/>
          </a> 
        </ContentSection>   
        <Spacer y={48} />
        <ContentSection id="aiguide-interviews-header" title="Interviews">

            <a href="/blog/9-29">
              <h1 class="font-bold text-3xl text-center">AI in Classrooms with Dr. Lindsay Hamm </h1>
              <h1 class="font-bold text-xl text-center">September 29, 2023</h1>
              <img src={thumbnail929.src}  class="mx-auto w-1/3"/>
            </a>  

            <Spacer y={16} />
            <a href="/blog/9-23">
                <h1 class="font-bold text-3xl text-center">Robotics + LLM with Jacob Zietek</h1>
                <h1 class="font-bold text-xl text-center">September 23, 2023</h1>
                <img src={thumbnail923.src}  class="mx-auto w-1/3"/>
            </a>        
        
            <Spacer y={16} />
            <a href="/blog/9-17">
                <h1 class="font-bold text-3xl text-center">Computer Vision with Aref Malek</h1>
                <h1 class="font-bold text-xl text-center">September 17, 2023</h1>
                <img src={thumbnail917.src}  class="mx-auto w-1/3"/>
            </a>        

            <Spacer y={16} />
            <a href="/blog/9-16">
                <h1 class="font-bold text-3xl text-center">AI with Dr. Eugenio Culurciello</h1>
                <h1 class="font-bold text-xl text-center">September 16, 2023</h1>
                <img src={thumbnail916.src}  class="mx-auto w-1/3"/>
            </a>
            

            <Spacer y={16} />
            <a href="/blog/9-6">
                <h1 class="font-bold text-3xl text-center">AI Interpretibility with Jinen Setpal</h1>
                <h1 class="font-bold text-xl text-center">September 6, 2023</h1>
                <img src={thumbnail96.src}  class="mx-auto w-1/3"/>
            </a>
        </ContentSection>
    </article>
    <Footer />
  </body>
</html>
