---
import "@fontsource/inter/variable.css";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import "~/styles/index.css";
import ContentSection from "~/components/content-section.astro";
import Spacer from "~/components/Spacer.astro";
import dagshub from "~/assets/sponsor/dagshub.png";
import mlPurdue from "~/assets/logo-main.webp";


const { site } = Astro;
const description = "ML@Purdue DagsHub Hackathon";

---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <meta name="generator" content={generator} /> -->

    <title>ML@Purdue - DagsHub Hackathon</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="ML@Purdue" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/social.png" />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header fixed />
    <article class="mx-auto mt-20 w-[90vw] max-w-[80ch]">
        <ContentSection id="dagshub-hackathon-title" title="ML@Purdue x DagsHub Hackathon">
            <div class="grid grid-cols-1 md:grid-cols-2 h-32 w-3/4 justify-items-center mb-8 md:mb-0">
                <img src={mlPurdue.src} alt="ML@Purdue Logo" class="h-24 w-auto" />
                <img src={dagshub.src} alt="DagsHub" class="h-24 w-auto" />
            </div>
            <div class="grid grid-cols-2 md:grid-cols-4 w-1/2 justify-stretch">
                <div class="grid grid-rows-3 h-32 items-center text-center">
                    <span></span>
                    <span class="font-extrabold text-6xl"></span>
                    <span class="">days</span>
                </div>
                <div class="grid  grid-rows-3 h-32 items-center text-center">
                    <span></span>
                    <span class="font-extrabold text-6xl"></span>
                    <span class="">hours</span>
                </div>
                <div class="grid  grid-rows-3 h-32 items-center text-center">
                    <span></span>
                    <span class="font-extrabold text-6xl"></span>
                    <span class="">minutes</span>
                </div>
                <div class="grid grid-rows-3 h-32 items-center text-center">
                    <span></span>
                    <span class="font-extrabold text-6xl"></span>
                    <span class="">seconds</span>
                </div>
            </div>
            <Spacer y={8} />
            <div class="text=center w-64">
                <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSfLssmXo_D5OKsFNBrsL0mpdVtJSOFOh57HWieZqU_WTSr-9Q/viewform?usp=send_form" target="_blank"
                class="bg-gray-800 flex items-center justify-center gap-3 rounded-lg border-purple-600 border-2 px-6 py-4 hover:bg-purple-900 hover:text-current"
              >
                <span>Register</span>
              </a>
            </div>
        </ContentSection>
        <Spacer y={48} />
        <ContentSection id="dh-about" title="About">
            <p class="w-[75vw] text-justify">This hackathon will give you the opportunity to do hacking and win some prizes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nunc congue nulla nec dignissim cursus. Nunc vel risus tellus. Sed et tempor lectus, in ullamcorper risus. Morbi a massa urna. 
                Pellentesque sit amet diam velit. Nunc sit amet neque pharetra, ultricies leo vel, cursus augue. Etiam ut molestie mi. Nam consectetur.
            </p>
        </ContentSection>
        <Spacer y={48} />

        <ContentSection id="dh-motive" title="What's In It For Me?">
            <div class="grid grid-cols-1 md:grid-cols-2 text-center w-[75vw] gap-8 md:gap-24">
                <div>
                    <h1 class="font-bold text-xl h-16">Guided</h1>
                    <div>
                        <p class="text-justify">Build a state-of-the-art Machine Learning Model! 
                            Participate in a graph generation challenge with multimodal data! 
                            Obtain the best possible performance on our event leaderboard, and the three best-performing models on unseen data win prizes!</p>
                    </div>
                </div>
                <div>
                    <h1 class="font-bold text-xl h-16">Advanced</h1>
                    <div>
                        <p class="text-justify">
                            Publish a Machine Learning paper under the Reproducibility Challenge!
                            Reimplement a state-of-the-art paper as part of the ML@Purdue hackathon - make it accessible to the entire machine learning community and publish it as a paper under your name! 
                            The top three successful projects will get a chance to win _____.</p>

                    </div>
                </div>
            </div>
        </ContentSection>
        <Spacer y={48} />
        <ContentSection id="dh-details" title="Details">
            <h1 class="font-bold text-3xl gradient-text">Prizes</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 text-center w-[45vw]  gap-8 md:gap-24">
                <div>
                    <h1 class="font-bold text-xl h-16">Guided</h1>
                    <div>
                        <ul>
                            <li>1st Place: $75 + SWAG</li>
                            <li>2nd Place: SWAG</li>
                            <li>3rd Place: SWAG</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h1 class="font-bold text-xl h-16">Advanced</h1>
                    <div>
                        <ul>
                            <li>1st Place: $150 + SWAG</li>
                            <li>2nd Place: $100 + SWAG</li>
                            <li>3rd Place: SWAG</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <h1 class="font-bold text-3xl gradient-text">Timeline</h1>
            <ul class="items-center	flex justify-center flex-col">
                <!-- <li>Oct 14: Kickoff & Onboarding to DagsHub and Colab 101</li>
                <li>Oct 21: Data Engine & Office Hours</li>
                <li>Oct 28: Competition Midnight & Office Hours</li>
                <li>Nov 4: Submission Date & Office Hours</li>
                <li>Nov 11: Closing Ceremony & Winner Announcement</li> -->
            </ul>
            <div class="timeline">
                <div class="container right">
                  <div class="content">
                    <h1 class="text-lg">October 14</h1>
                    <p>Kickoff & Onboarding to DagsHub and Colab 101</p>
                  </div>
                </div>
                <div class="container right">
                  <div class="content">
                    <h1 class="text-lg">October 21</h1>
                    <p>Data Engine & Office Hours</p>
                  </div>
                </div>
                <div class="container right">
                  <div class="content">
                    <h1 class="text-lg">October 28</h1>
                    <p>Competition Midnight & Office Hours</p>
                  </div>
                </div>
                <div class="container right">
                    <div class="content">
                      <h1 class="text-lg">November 4</h1>
                      <p>Submission Date & Office Hours</p>
                    </div>
                  </div>
                  <div class="container right">
                    <div class="content">
                      <h1 class="text-lg">November 11</h1>
                      <p>Closing Ceremony & Winner Announcement</p>
                    </div>
                  </div>
            </div>
            <br />
            <h1 class="font-bold text-3xl gradient-text">Location and Timing</h1>
            <p>TBD</p>
            <br />
            <h1 class="font-bold text-3xl gradient-text">Competition Tracks</h1>

            <div class="grid grid-cols-1 md:grid-cols-2 text-justify w-[75vw] gap-8 md:gap-24">
                <div>
                    <h1 class="font-bold text-xl h-16 text-center">Guided</h1>
                    <div>
                        <ul class="list-disc">
                            <li>Participate in a graph generation challenge!</li>
                            <li>Template for an end-to-end workflow with baseline performance will be provided.</li>
                            <li>Log data, experiments and notebooks to your DagsHub repository.</li>
                            <li>Model performance will be evaluated on a hidden test set.</li>
                            <li>Top 3 highest scores win prizes!</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <h1 class="font-bold text-xl h-16 text-center">Advanced</h1>
                    <div>
                        <ul class="list-disc">
                            <li>Get to publish a paper under the Machine Learning Reproducibility Challenge!</li>
                            <li>Reproduce novel research from our approved list of papers.</li>
                            <li>Conduct ablation studies and write a reproducibility report documenting your findings</li>
                            <li>Your reproducibility report can get published to ReScience (platinum open-access peer-reviewed journal)!</li>
                            <li>3 best papers win prizes!</li>
    
                        </ul>
                    </div>
                </div>
            </div>
           
            <br />
        
        </ContentSection>

    </article>
    <Footer />
  </body>

  <script>
    let targetDate = new Date(2023, 9, 14, 15, 0); // 2023-10-14 15:00:00, TBD
    let dayElements = document.querySelectorAll("#dagshub-hackathon-title .grid-rows-3 .text-6xl");
    function updateDate() {
        let currentDate = new Date();
        let diff = targetDate - currentDate;
        let days = Math.floor(diff / (1000 * 60 * 60 * 24));
        let hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        let minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((diff % (1000 * 60)) / 1000);
        dayElements[0].innerHTML = days;
        dayElements[1].innerHTML = hours;
        dayElements[2].innerHTML = minutes;
        dayElements[3].innerHTML = seconds;
    }
    updateDate();
    setInterval(updateDate, 1000);
  </script>

    <style>
        .timeline, .container, .right, .left, .content {
        box-sizing: border-box;
        }

        /* The actual timeline (the vertical ruler) */
        .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        }
        
        /* The actual timeline (the vertical ruler) */
        .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 27%;
        margin-left: -6px;
        }
        
        /* Container around content */
        .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
        }
        
        /* The circles on the timeline */
        .container::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: var(--color-primary);
        border: 4px solid var( --color-secondary);
        top: 15px;
        border-radius: 50%;
        z-index: 1;
        }
        
        /* Place the container to the left */
        .left {
        left: 0;
        }
        
        /* Place the container to the right */
        .right {
        left: 27%;
        }
        
        /* Add arrows to the left container (pointing right) */
        .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
        }
        
        /* Add arrows to the right container (pointing left) */
        .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
        }
        
        /* Fix the circle for containers on the right side */
        .right::after {
        left: -16px;
        }
        
        /* The actual content */
        .content {
        padding: 20px 30px;
        background-color: var(--color-background-offset);
        position: relative;
        border-radius: 6px;
        width: 150%;
        }
        
        /* Media queries - Responsive timeline on screens less than 600px wide */
        @media screen and (max-width: 600px) {
        /* Place the timelime to the left */
        .timeline::after {
            left: 31px;
        }
        
        /* Full-width containers */
        .container {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }
        
        /* Make sure that all arrows are pointing leftwards */
        .container::before {
            left: 60px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }
        
        /* Make sure all circles are at the same spot */
        .left::after, .right::after {
            left: 15px;
        }
        
        /* Make all right containers behave like the left ones */
        .right {
            left: 0%;
        }
        .content {
            width: 100%;
        }
        }
    </style>
</html>
