---
import "@fontsource/inter/variable.css";
import ContentSection from "~/components/content-section.astro";
import Spacer from "~/components/Spacer.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import "~/styles/index.css";
import { projectItems } from "~/data-entries";

const { site } = Astro;
const description = "ML@Purdue Website";
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <meta name="generator" content={generator} /> -->
    <title>ML@Purdue - Projects</title>
    <meta name="description" content={description} />
    <meta property="og:title" content="ML@Purdue" /><meta
      property="og:type"
      content="website"
    /><meta property="og:description" content={description} /><meta
      property="og:image"
      content="/social.png"
    /><meta property="og:url" content={site} /><meta
      name="twitter:card"
      content="summary_large_image"
    /></head
  >

  <!-- social media -->

  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header fixed />
    <br />
    <article class="pt-10 mt-11 w-[90vw] max-w-[80ch]">
        <ContentSection id="projects" title="PROJECTS">
            <div
                class="flex w-screen border-y-[1px] border-purple-500 -mt-6 py-6"
            >
                <p class="max-w-[75%] pl-8 text-sm">
                  The activities and layout of each project will vary based on content. Average projects will consist of recruitment, member training, and about 3-4 milestones each month.
                  <br><br>
                  Join our <a href="https://discord.gg/KphYQFSVsu" class="font-black">Discord</a> and ask in the general/help-desk channels!
                  <br>
                </p>
            </div>
        </ContentSection>

        <Spacer y={150} />
        <ContentSection id="workshopArchive" title="CURRENT PROJECTS">
            <div
              class="flex w-screen border-y-[1px] border-purple-500 -mt-6 py-6"
            >
                <p class="max-w-[75%] pl-8 text-sm">
                    <b>Beginner:</b> Not expected to have experience with ML but they should be familiar with programming. Ex. Kaggle competitions, building applications with OpenAI’s API.
                    <br><br>
                    <b>Intermediate:</b> Project members have taken CS373/CS471/CS290 or an equivalent class, or self-taught to that level. Project members are familiar with TensorFlow or PyTorch. Ex. Building an autonomous RC car, creating a chatbot from scratch.
                    <br><br>
                    <b>Advanced:</b> Project members are going beyond class work knowledge, or the project requires a large time commitment. Ex. Original research (technically difficult), Creating a startup (time commitment).
                </p>
            </div>
            {
                projectItems.map(({ link, name, desc, pm, status, commitment, proficiency, domain, duration, advisor, memberInfo, accomplishments }) => (
                    <section class="relative flex w-screen border-b-[1px] border-purple-500 -mt-4">
                        <div class="flex flex-col justify-between items-end w-[30vw] lg:w-[26vw] text-right p-2 pb-3">
                            <div class="flex flex-col items-end">
                              <h2 class="text-xs lg:text-sm leading-snug">{duration}</h2>
                              <span class="-mt-2">
                                {proficiency && (<span class="text-xs lg:text-sm leading-snug font-semibold">{proficiency}</span>)}
                                {commitment && (<span class="whitespace-nowrap text-xs lg:text-sm leading-snug">{commitment} hrs/week</span>)}
                              </span>
                            </div>
                            <span class={`bg-${(status == "closed") ? "gray-700" : "purple-900"} ml-3 text-white rounded-md py-1 px-4 text-xs leading-snug`}>
                                {status}
                            </span>
                        </div>

                        <div class="flex border-l-[1px] border-purple-500 ml-2 flex-col p-5 lg:justify-center pt-2 lg:pt-0 h-full pl-2 lg:pl-4 max-w-[63vw]">
                            <span class="orbitron text-xl lg:text-2xl leading-tight sm:mt-3 mb-1">
                              {link ? 
                                <a href={link}>{name}</a>
                                :
                                <span>{name}</span>
                              }
                            </span>
                            <div class="flex flex-wrap gap-2">
                                {domain.map((a) => (
                                    <span class="whitespace-nowrap bg-gray-700 text-white rounded-md py-1 px-3 text-xs leading-snug">
                                        {a}
                                    </span>
                                ))}
                            </div>
                            <p class="text-xs mt-3">{desc}</p>
                            <h2 class="text-xs lg:text-sm mt-2">
                                <div class="flex flex-wrap mt-1 gap-2 mb-4">
                                  {accomplishments && accomplishments.map((a) => (
                                    <span class="text-xs -mt-2 mr-2 font-semibold text-purple-400">
                                      ★ {a}
                                    </span>
                                  ))}
                                </div>
                                <span>{pm} {advisor && (<span>, Advisor: {advisor}</span>)}</span>
                                <div class="flex flex-wrap mt-1 gap-2">
                                    {memberInfo && (
                                        <a href={memberInfo} class="whitespace-nowrap bg-purple-900 hover:bg-purple-100 text-white rounded-md py-1 px-4 text-xs leading-snug">
                                            member info
                                        </a>
                                    )}
                                </div>
                            </h2>
                        </div>
                    </section>
                ))
            }
        </ContentSection>
    </article>
    <Footer />
  </body>
</html>