---
import jz from "~/assets/team/jz.jpg";
import ContentSection from "./content-section.astro";
import Spacer from "./Spacer.astro";
import TeamMember from "./team/member.astro";
import aref from "~/assets/team/aref.jpg";
import sameeha from "~/assets/team/sameeha.jpg";
import saisravani from "~/assets/team/saisravani.jpg";
import addy from "~/assets/team/addy.jpg";
import jinen from "~/assets/team/jinen.jpg";
import ananya from "~/assets/team/ananya.jpg";
import ritvik from "~/assets/team/ritvik.jpg";
import saad from "~/assets/team/saad.jpg";
import stanley from "~/assets/team/stanley.jpg";
import sagar from "~/assets/team/sagar.jpg";
import anna from "~/assets/team/anna.jpg";
---

<ContentSection id="mlpurdue" title="ML@Purdue">
  <p>
    ML@Purdue is the central club for AI/ML career growth for Purdue students.
    We support careers in industry, research, and entrepreneurial ventures
    through projects and various events. The club also serves to connect Purdue
    students to AI/ML leaders in and out of Purdue.
  </p>
</ContentSection>

<Spacer y={24} />
<ContentSection id="Executive" title="Executive Branch">
  <div class="flex flex-col gap-2 sm:grid sm:grid-cols-2">
    <TeamMember
      title="President"
      url="https://linkedin.com/in/jacob-zietek/"
      image={jz}
    >
      <span slot="name">Jacob Zietek</span>

      <p>
        I'm passionate about casually interacting with AI in our day to day
        lives. I aspire to be an AI Research Scientist in the future. My main
        interests are in robotics and NLP. I've had previous experience in CV,
        NLP, Information Retrieval, Deep RL, robotics, and conversational bots.
        I have done AI RnD internships at Amazon and Shield AI. Check out my
        website <a
          href="https://jacobzietek.me/"
          class="underline decoration-dotted"
          target="_blank">here</a
        >.
      </p>
    </TeamMember>
    <TeamMember
      title="Vice President"
      url="https://linkedin.com/in/aref-malek/"
      image={aref}
    >
      <span slot="name">Aref Malek</span>
      <p>
        I'm broadly interested in AI and recently have been exploring Augmented
        Reality and Algorithms. I love to build projects that improve how we
        physically interact with AI, as well as the social science of everyday
        life. This semester, I'm excited to learn more about RL and robotics
        from my lab and finally take a deep dive into research. During my past
        internships at NASA and AWS, I developed new features on AI-based
        product teams. Feel free to check out old projects and please don't
        hesitate to reach out to chat! Most of my information can be found on my
        website.
        <a
          href="https://arefmalek.me/"
          class="underline decoration-dotted"
          target="_blank">here</a
        >.
      </p>
    </TeamMember>
  </div>
</ContentSection>

<Spacer y={24} />

<ContentSection id="marketing" title="Marketing Branch">
  <div class="flex flex-col gap-2 sm:grid sm:grid-cols-2">
    <TeamMember
      title="VP of Marketing"
      url="https://linkedin.com/in/sameeha-afrulbasha/"
      image={sameeha}
    >
      <span slot="name">Sameeha Afrulbasha</span>
      <p>
        Hey! I'm a sophomore studying data science and stats at Purdue. As an
        officer and project manager for SIGAI, I'm currently leading a project
        on time series forecasting. In my free time, I enjoy writing and posting
        about topics related to machine learning, AI, and stats. I also love
        trying new foods, boba/coffee runs, and playing badminton.
      </p>
    </TeamMember>
    <TeamMember
      title="Head of Social Media"
      url="https://linkedin.com/in/saisravanik/"
      image={saisravani}
    >
      <span slot="name">Saisravani Kuchibhotla</span>
      <p>
        Hi, I'm a junior in Computer Science pursuing the Software Engineering
        and Machine Intelligence tracks. I worked on this website :D and I help
        manage SIG AI's socials. I like to paint, play video games, and cook in
        my free time.
      </p>
    </TeamMember>
  </div>
</ContentSection>
<Spacer y={24} />
<ContentSection id="finance" title="Finance Branch">
  <div class="flex flex-col gap-2 sm:grid sm:grid-cols-1">
    <TeamMember
      title="VP of Finance"
      url="https://linkedin.com/in/aafamuyi/"
      image={addy}
    >
      <span slot="name">Addy Famuyiwa</span>
      <p>
        <!--  -->
      </p>
    </TeamMember>
  </div>
</ContentSection>
<Spacer y={24} />
<ContentSection id="operations" title="Operations Branch">
  <div class="flex flex-col gap-4 md:grid md:grid-cols-3">
    <TeamMember
      title="Chief Project Advisor"
      url="https://linkedin.com/in/jinensetpal/"
      image={jinen}
    >
      <span slot="name">Jinen Setpal</span>
      <p>
        Hey everyone! I'm really interested in research on machine
        interpretability, and building optimization routines based on
        interpretability techniques. I believe that building an understandable
        basis for training neural networks goes a long way towards making
        black-box models more generalizable, and I'm currently working to
        explore that! <a
          href="https://jinensetpal.github.io/"
          class="underline decoration-dotted">Website</a
        >
      </p>
    </TeamMember>
    <TeamMember
      title="Head of Reading Group"
      url="https://www.linkedin.com/in/imananyasingh/"
      image={ananya}
    >
      <span slot="name">Ananya Singh</span>
      <p>
        I am a Junior at Purdue University studying Computer Science and Data
        Science with a Concentration in Machine Intelligence. My main interests
        lie in Software Engineering and Machine Learning. As a result, I have
        experiences exploring these areas during my time as a student through
        internships with Nintendo and Google, projects in SWE and NLP, as an
        officer for SIG AI, researcher in CV, and TA for Data Structures and
        Algorithms and Introduction to Artificial Intelligence. In my free time,
        I enjoy exploring nature and music and writing articles about Data
        Science on Medium!
      </p>
    </TeamMember>
    <TeamMember
      title="Head of Education"
      url="https://www.linkedin.com/in/ritvikgupta2003/"
      image={ritvik}
    >
      <span slot="name">Ritvik Gupta</span>
      <p>
        <!--  -->
      </p>
    </TeamMember>
    <TeamMember
      title="Operations Officer"
      url="https://www.linkedin.com/in/ashassins"
      image={anna}
    >
      <span slot="name"> Anna Shen</span>
      <p>
        Hi! I'm a senior in computer engineering, and served as an officer,
        project manager, website dev, and as the 2022 SIG AI President. I'm
        hoping to go into consumer product software development after
        graduation. I've interned previously for Cisco and Nucor. In my free
        time, I enjoy cooking, calligraphy, attending hackathons, building
        mechanical keyboards, and caring for my plethora of houseplants. I'm
        passionate about improving quality of life for others, my coffee and
        matcha, and I especially love birds.
      </p>
    </TeamMember>
    <TeamMember
      title="Operations Officer"
      url="https://www.linkedin.com/in/stanleykim2003/"
      image={stanley}
    >
      <span slot="name"> Stanley Kim</span>
      <p>
        Hi! I am a freshman in Computer Science from Philadelphia, PA. This is
        my second semester in ACM and in Purdue SIGAI, where I am participating
        in the TE AI Cup Competition. Previously, I was a Software Engineer
        Intern at Quantic, and am currently involved in data science research on
        campus.
      </p>
    </TeamMember>
    <TeamMember
      title="Operations Officer"
      url="https://www.linkedin.com/in/saadullah-sharief-profile"
      image={saad}
    >
      <span slot="name"> Saad Sharief</span>
      <p>Breaking the🚪of opportunities at Tesla</p>
    </TeamMember>
    <TeamMember
      title="Operations Officer"
      url="https://www.linkedin.com/in/patilsr/"
      image={sagar}
    >
      <span slot="name"> Sagar Patil</span>
      <p>
        Hi! I'm a Sophomore studying Computer Science, I like rockets,
        computers, and neural networks.
      </p>
    </TeamMember>
  </div>
</ContentSection>

<Spacer y={50} />

<ContentSection id="sponsors" title="Sponsors">
  <ul>
    <li>
      <a href="https://dagshub.com/" class="underline" target="_blank"
        >Dagshub</a
      >
    </li>
  </ul>
</ContentSection>
